.singleimage
{
	    max-height: 350px!important;
}
.space_wrap
{
/*	margin-bottom:47px!important;*/
}

.axis {

    margin-top: 10px; 
}

.special-overlay{
	top: 175px!important;
}

.lead_img
{
	bottom: 40px;
}

.top-4 {
    margin-top: 33px;
}