.subsc_orange_box
{
	background-color: #E55D33;
    width: 100%;
   
    min-height: 111px;
    margin: 115px 0px 0px 0px;
}

.special_series
{
	    color: #E55D33;
    font-family: 'Archivo Narrow', sans-serif!important;
    font-weight: 700;
    margin-top: -47px;
    margin-left: 14px;
    font-size: 30px;
}

.special_series_items
{
	margin-top: -155px!important;

    padding-left: 2px;
}
.item_special_series
{
	padding-left: 40px !important;
    padding-right: 40px !important;
}

.special_series_i
{
	    max-height: 300px;
    overflow-y: hidden;
    margin-bottom: 80px;
}

.text_div_specialSeries
{
	
}

.text_wraper_specialSeries
{
	    font-size: 30px;
    position: absolute;
    bottom: 79px;
    max-height: 150px;
  width: 85.5%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
}


.more_desc {
    font-family: 'Roboto', sans-serif !important;
    font-style: italic;
    color: #E55D33;
}


.title_special_series
{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 800;
    color: #E55D33;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1;
    margin: 0 0 5px 0;
}

.text_special_series
{
	color: #FFFFFF;
	font-size: 21px; 
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}
#article-blog_special-series
{
	    margin-top: 100px;
	    background-color: #F8F8F8;
}

#wrapper
{
	background-color: #F8F8F8!important;
}
.blog_wraper_specialSeries
{
		    font-size: 30px;
    position: absolute;
    bottom: 79px;
    max-height: 150px;
  width: 85.5%;
    padding: 15px;
    /*background-color: rgba(0, 0, 0, 0.60);*/
}

section.padding-xxs {
    
    background-color: #FFFFFF;
}