

/*Subscribe page from here*/

.subsc_orange_box
{
	background-color: #E55D33;
	    width: 100%;
    min-height: 280px;
    margin: 0px;
    
}

.try-all-acc
{
	    color: #F8F8F8;
    font-size: 30px;
    font-family: 'Archivo Narrow'!important;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 5px;
}

.onepicture-pad
{
	    
}

.devacices
{
	/*padding: 25px 70px 0px 36px;*/
	    margin-top: 40px;
    margin-left: 23px;
}

#article-background
{
	padding-top: 54px;
}

.sourcepartners
{
	font-size:30px;
	font-family: 'Archivo Narrow';	
	color: #242424;
	font-weight: 600;
}

.checksign
{
	font-size: 31px!important;
    padding-right: 15px;
    float:left;
}

.benefits_p
{
	margin: 0px;
	float: left;
}
ul.process-steps li {
     border: 0 !important; 
     text-align: left!important; 
}

.nav-justified>li {
    display: block;
    width: 0%;
}

.steps_subscr
{
	margin-top: 40px;
}

.padd-left
{
	padding-left: 17px!important;
}

.step_sub
{
	margin-left: 65px;
	margin-top: 0px;
	font-size: 35px;
	color: #E55D33;
	    margin-bottom: 55px;
	font-family: 'Archivo Narrow', sans-serif!important;
	font-weight: 700;
}

.step_li
{
	width: 100%!important;
	float: left!important;
}

.subs_box
{
  	min-width: 210px!important;
    border-style: solid;
    border-color: #E55D33;
    min-height: 225px;
    border-top-width: 17px!important;
    padding: 30px 0px;
    border-width: 1px;
}

.poss_cent_txt
{
	margin-left: 20%;
	    margin-right: 5px;
	
}

.montly_cb
{
	    font-size: 30px;
    color: #E55D33;
    font-family: 'Archivo Narrow', sans-serif!important;
    font-weight: 700;
}

.big-checkbox {width: 30px; height: 30px;}

.box_padd
{
	    padding: 10px 25px 30px 65px;
}

.radio i, .checkbox i {
    position: absolute;
     top: 0px; 
    left: 0;
    display: block;
    width: 19px;
    padding-left: 5px;
    zoom: 1.5;
    height: 19px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: #E55D33;
    background: rgba(255, 255, 255, 0.3);
 /*   background-color: #e55d33!important;*/
}

.checkbox input + i:after {
    color: #E55D33;
}

.p-price, .p-price1
{
	    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
        margin-bottom: 2px;
    font-family: 'Roboto', sans-serif !important;
    color: #E55D33;

}

.p-price1
{
	color: black;
	margin-top: 5px;
}

.subm_btn_enter_voucher-colmn
{
	padding-right: 24px !important;
	padding-left: 3px !important;
	float: left;

}

.input_submit_enter_voucher
{
	float: left;
	width: 73%;
	font-size: 20px;
	height: 45px;
	margin-left: 25px;
}



ul.process-steps li:after, ul.process-steps li:before {
	display: none;
}

.continue_btn
{
	text-align: center;

}
.btn-black
{
		padding: 10px 90px 37px 90px;
		    font-size: 20px;
}

.try-all-acc_col
{
	padding-left: 0px;
}

.fa-check-square{
    width: 20px;
    margin-right: 10px;
    color: #242424 !important;
}

ul.process-steps li a 
{
	line-height: 27px;
}

.radio i, .checkbox i 
{
	border-width: 1px;
}

.checkbox input + i:after 
{
	top: 1px;
    left: 2px;
}

/*.checkbox input + i:after {
    color: #fafafa;
}*/

.price
{
	font-weight: 700;
}

.btn {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.btn-red_pos-sub
{
	padding: 7px 9px;
    float: right;
    font-weight: 700;
    font-size: 21px;
    border-radius: 1px;
    height: 45px;
        width: 100px;
        	margin-left: 15px;
	
	    

}

.poss_subsc_m
{
	padding-right: 10px;
    padding-left: 20px;
}

@media (max-width: 768px)
{
	.try-all-acc
	{
		margin-left: 40px;
	}

	.devacices
	{
     	margin-top: 0px; 
    	margin-left: 10px
	}

	.benefits_p {
    padding-left: 37px;
    padding-right: 37px;
}

.benefits_p {
    padding-left: 37px;
    padding-right: 47px;
    margin-top: -38px;
    /* padding-right: 10px; */
}

.padd-left {
    padding-left: 50px!important;
}

.steps_subscr {
    margin-top: 40px;
    padding-left: 35px;
    padding-right: 35px;
}

.input_submit_enter_voucher {
    float: left;
    width: 96%;
    font-size: 20px;
    margin-left: 13px;
    height: 45px;
}


.btn-red_pos-sub {
	{
		position: absolute;
		margin-right: 1px!important;
    margin-left: 7px!important;
	}
}

