.subsc_orange_box
{
	background-color: #E55D33;
    width: 100%;
   
    min-height: 111px;
    margin: 115px 0px 0px 0px;
}

.special_series
{
    color: #E55D33;
    font-family: 'Archivo Narrow', sans-serif!important;
    font-weight: 700;
    margin-top: -47px;
    margin-left: 8px;
    font-size: 30px;
}

.special_series_items
{
	margin-top: -111px!important;
 
}
.item_special_series
{
	padding-left: 20px !important;
    padding-right: 20px !important;
}

.special_series_i
{
	    max-height: 300px;
    overflow-y: hidden;
    margin-bottom: 80px;
}

.text_div_specialSeries
{
	
}

.text_wraper_specialSeries
{
	    font-size: 30px;
    position: absolute;
    bottom: 79px;
        min-height: 150px;
    max-height: 150px;
  width: 85.5%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.60);
}


.more_desc {
    font-family: 'Roboto', sans-serif !important;
    font-style: italic;
    color: #E55D33;
}


.title_special_series
{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
    color: #E55D33;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    margin: 0 0 5px 0;
}

.text_special_series
{
	color: #FFFFFF;
	font-size: 21px; 
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}
#article-blog_special-series
{
	    margin-top: 100px;
	    background-color: #F8F8F8;
}

#wrapper
{
	background-color: #F8F8F8!important;
}
.blog_wraper_specialSeries
{
		    font-size: 30px;
    position: absolute;
    bottom: 79px;
    max-height: 150px;
  width: 85.5%;
    padding: 15px;
    /*background-color: rgba(0, 0, 0, 0.60);*/
}

section.padding-xxs {
    
    background-color: #FFFFFF;
}

@media (max-width: 768px)
{
    .text_wraper_specialSeries
    {
        position: absolute;
        bottom: 0px;
    }
    .text_special_series
    {
            font-size: 16px;
    }

    .special_series_items
    {
        margin-top: -60px!important;
    }

    .special_series
    {
        margin-left: 9px;
    }

}

@media (max-width: 1290px)
{
    .text-title
    {
        font-size: 20px!important;
    }

    .text-cat
    {
        font-size: 22px!important;
    }
}

.specSerTit
{
 padding-left: 0px;
}
/*SPECIAL SERIES*/
.push-right {
    margin-left: 4.75em;
}

* {
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: 'Archivo Narrow', sans-serif;
}

.tab-special {
    font-size: 20px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    float: left;
}

.tab-special {
    font-size: 20px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

.tab-content>.active {
    display: inline-block;
}

.tab-special .hover {
    left: 40px;
}

.hover {
    font-size: 18px;
}

.hover {
    position: absolute;
    top: auto;
    padding-left: 30px;
    padding-top: 69px;
    padding-bottom: 69px;
    bottom: 15px;
    left: 20px;
    right: 0px;
    max-width: 800px!important;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
}

.text-cat {
    font-size: 24px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}
.text-cat {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: auto;
    bottom: 82px;
    color: #e55d33;
    opacity: 1;
}

.hover .text-title {
    max-width: 420px;
    font-weight: 700;
}

.text-title {
    font-size: 21px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    line-height: 30px;
}

.text-title {
    position: absolute;
    top: auto;
    bottom: 25px;
    color: #fff;
    opacity: 1;
}
/*END*/