.about-us-text-heder
{
	color: #F8F8F8;
    	font-size: 30px;
	font-family: 'Archivo Narrow'!important;
	font-weight: 700;
	margin-top: 50px;
}

.subsc_orange_box
{
	background-color: #E55D33;
	    width: 100%;
    min-height: 280px;
    margin: 0px;
    
}

.aboutus_left
{
	text-align: justify;
	    font-size: 20px;

}

.aboutus_right
{
	text-align: center;
}
.avatar-div img
{
	width: 190px!important;
    height: 190px;
	    border: 6px solid rgb(228,88,45);
	        margin: 10px auto;
}

.name_memmber
{
	    font-size: 21px;
    color: #242424;
    font-weight: 700;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 2px;
}

.type_memmber
{
	   font-size: 21px;
    color: #242424;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 2px;
}

.social-icons-article
{
	    float: none;
}

.short_summary
{
	font-size: 18px;
    color: #242424;
    /* font-style: italic; */
    text-align: justify;
    font-weight: 300;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 50px;
}

.aboutus_row
{
	margin-top: -216px;
}
.whatwedo
{	    
	    padding-left: 35px !important;
}

.theteam
{
	    margin-left: 25px;
}
.text-aboutus
{
	    padding-left: 50px !important;
    padding-right: 50px !important;
}

.avatar-div img {
 
    border: 6px solid #E55D33;
   -webkit-box-shadow: none;
}

.right_side_membr
{
        margin-top: 50px;
}

@media (max-width: 768px)
{
    .aboutus_row {
    margin-top: -115px;
}
}
