@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Roboto:300,400,700');


h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #40AB4D !important;
}

.roboto {
    font-family: 'Roboto', sans-serif !important;
}

a.black {
    color: #242424 !important;
    opacity: 1 !important;
}

p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

.hover {
    font-size: 18px;
}

.hover p {
    font-size: 18px;
}

.source-partners {
    background-color: #FFFFFF;
}

h3 a {
    color: #242424;
}

#article-background {
    background-color: #F8F8F8;
}

#article {
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 1px;
    border-width: medium;
}

#article img {
    clear: both;
    text-align: center;

}

#article-img {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 72%;
}

.italic {
    font-style: italic;
}

#article-image-description {
    font-style: italic;
    cursor: default;
    position: absolute;
    bottom: 0px;
    text-align: right;
    width: 100%;
    font-size: 20px;
    z-index: 40;
    color: white;
    min-height: 40px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 16px;
    color: #f8f8f8;
}

.img-description-article {
    cursor: default;
    position: relative;
    text-align: left;
    height: 65px;
    width: 100%;
    line-height: 18px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    color: #242424 !important;
    top: -15px;
}

.fa-facebook:hover {
    color: #3B5998 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.fa-twitter:hover {
    color: #00ACEE !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.fa-linkedin:hover {
    color: #0E76A8 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.fa-reddit-alien:hover {
    color: #C6C6C6 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.fa-google-plus:hover {
    color: #DD4B39 !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.fa-envelope:hover {
    color: #40AB4D !important;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

.article-content {
    margin-left: 100px;
    margin-right: 100px;
}

#article-source {
    text-align: center;
}

#article-source-img {
    display: inline-block;
}

.artice-title h1 {
    color: #242424;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
}

.article-text p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

.article-text p a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    text-align: justify;
    color: #40AB4D;
}

.article-author p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    font-size: 24px;
}

.article-author .date {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 20px;
    float: right;
}

.article-author p a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    color: #40AB4D;
}

.article-subtitle h1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:40:41 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/
/*FOOTER:

Loc: Headers         Style: RR      px: 18    V/A: 0   Color: 0585e5    Hover: unchanged
Loc: Categories    Style: RL       px: 14    V/A: 0   Color: f8f8f8      Hover: 0585e5
Loc: SubCat           Style: RL       px: 12    V/A: 0   Color: f8f8f8      Hover: 0585e5

Loc: Subscribe       Style: RRi       px: 18    V/A: 0   Color: 0585e5    Hover: unchanged
Loc: ^Button            Style: RR       px: 16    V/A: 0   Color: 0585e5    Hover: button
Loc: Copyright        Style: RL       px: 16    V/A: 0   Color: 0585e5    Hover: unchanged*/
/*Footer*/
#footer {
    background: #ff7600;
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
}

#footer h4 {
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
    line-height: 15px;
}

#subscribe-btn {
    text-align: center;
    background: #000000;
    color: #fff;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 262px;
}

.btn-dark {
    line-height: 20px;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
}

.btn-dark:hover {
    color: #fff;
}

#subscribe-btn:focus {
    color: #fff;
}

#footer > .container {
    padding-top: 20px;
    margin-bottom: 0px;
}

#footer .list-inside {
    list-style-type: none;
    font-size: 14px;
}

.subscribe-title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    color: #ffffff;

}

.footer-rights {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    color: #fff;
}

.social-icons-footer {
    padding-left: 6px;
    font-size: 25px !important;

}

.social-icons-footer a {
    padding-left: 1px;
    padding-right: 1px;

}

.list-unstyled li {
    line-height: 20px;
}

.list-unstyled li a {
    font-weight: 300;
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
    padding: 0px;
}

.list-unstyled-category li a {
    text-transform: capitalize;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:40:45 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:42:51 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/
/*Homepage special series*/
.tab-special .hover {
    left: 66px;
}

.nav-dark li a:hover {
    color: #40AB4D;
}

/*Homepage image*/
section.padding-xxs {
    padding: 0 0;
}

a,
a:focus:not(.btn),
section.dark a,
#slidetop a:hover,
h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span,
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > span,
ul.list-links > li > a:hover,
#sidepanel ul li a[data-toggle="collapse"],
#sidepanel ul li a[data-toggle="collapse"]:hover,
#sidepanel ul li a:hover,
.menu-list ul li a:hover,
.menu-list ul li.active a,
#menu_overlay_close:hover,
#topMain.nav-pills > li.active > a > span.topMain-icon,
#page-menu.page-menu-light ul > li:hover > a > i,
#page-menu.page-menu-dark ul > li:hover > a > i,
#page-menu.page-menu-transparent ul > li:hover > a > i,
#page-menu.page-menu-light ul > li.active > a > i,
#page-menu.page-menu-dark ul > li.active > a > i,
#page-menu.page-menu-transparent ul > li.active > a > i,
.tp-caption.block_white,
section span.theme-color,
section em.theme-color,
section i.theme-color,
section b.theme-color,
section div.theme-color,
section p.theme-color,
.owl-carousel.featured a.figure > span > i,
.owl-carousel.featured a:hover,
figure.zoom > a.lightbox:hover,
#portfolio h2 > a:hover,
#portfolio h3 > a:hover,
#portfolio h4 > a:hover,
#portfolio h5 > a:hover,
#portfolio h6 > a:hover,
.tab-post a:hover,
.tag:hover > span.txt,
section.dark .tag:hover > span.txt,
ul.widget-twitter li > small > a:hover,
.blog-post-item h2 > a:hover,
.blog-post-item h3 > a:hover,
.blog-post-item h4 > a:hover,
.blog-post-item h5 > a:hover,
.item-box .item-hover .inner .ico-rounded:hover > span,
ul.side-nav > li:hover > a,
ul.side-nav > li a:hover,
ul.side-nav > li.active > a,
a.href-reset:hover,
a.href-reset.active,
.href-reset a.active,
.href-reset a:hover,
.href-reset a.active,
.price-clean-popular h4,
.box-icon.box-icon-color i,
.switch-primary.switch-round > input:checked + .switch-label::after,
section.dark .nav-tabs.nav-clean > li.active > a {
    color: #7B7B7B;
}

.popular-stories {
    font-size: 18px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:40:49 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/
.navigation .active > a::after {
    background-color: #40AB4D;
}

#topMain.nav-pills > li.active > a {
    color: #40AB4D;
}

#logo {
    float: left;
}

#slogan {
    float: right;
    margin-top: 15px;
}

.zocial,
a.zocial {
    border: none;
}

.nav .social-glyphs {
    font-size: 12px;
}

/*icon color on hover*/
#header ul.nav-second-main li .fa-facebook:hover {
    color: #3b5998;
}

#header ul.nav-second-main li .fa-twitter:hover {
    color: #55acee;
}

.li-subscribe {
    background-color: #40AB4D;
    padding: 20px 10px 20px 10px !important;
    top: -20px;
    margin-bottom: -20px;
}

.nav-icons {
    border-right: 1px solid #e0e0e0;
    padding: 20px 10px 20px 20px !important;
    top: -20px;
    margin-bottom: -20px;
    display: block;
}

.nav-login {
    padding: 20px 20px 20px 20px !important;
    top: -20px;
    margin-bottom: -20px;
}

#header ul.nav-second-main li > a {
    font-weight: bold;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:40:31 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/
@media (min-width: 993px) {
    /*General Body Stuff*/
    body {
        /*  font-size: 20px;*/
    }

    h5 {
        font-size: 24px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif !important;
    }

    h3 {
        color: #242424;
        font-size: 40px;
        line-height: 45px;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif !important;
    }

    .special-series {
        margin-top: 30px;
    }

    .sp-button {
        width: 200px;
        height: 40px;
        padding-left: 9px;
        line-height: 26px;
    }

    .tab-special {
        font-size: 20px;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
    }

    .tab-special li a {
        max-width: 539px;
        min-width: 500px;
        min-height: 92px;
        height: 92px;
        line-height: 25px;
        font-size: 20px;
        padding: 25px;
        padding-left: 55px;
        padding-right: 55px;
        font-family: 'Roboto', sans-serif !important;
    }

    .text-cat {
        font-size: 24px;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 700;
    }

    .text-title {
        font-size: 21px;
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        line-height: 30px;
    }

    .hover .text-title {
        max-width: 420px;
        font-weight: 700;
    }

    .homepage-featured {
        display: inline-block;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 100%;
        height: 0;
        padding-top: 30%;
        font-family: 'Roboto', sans-serif !important;
        margin-bottom: -7px;

    }

    .homepage-featured-text {
        cursor: default;
        position: absolute;
        top: 35%;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        z-index: 40;
        color: #FFFFFF;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: -2px;
        line-height: 60px;
        text-shadow: rgba(0, 0, 0, 0.16) 1px 1px 1px;
    }

    .homepage-featured-source {
        cursor: default;
        position: absolute;
        top: 110px;
        text-align: center;
        width: 100%;
        font-size: 30px;
        z-index: 40;
        color: #f8f8f8;
        font-weight: 300;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif !important;
        text-shadow: rgba(0, 0, 0, 0.16) 1px 1px 1px;
    }

    .background-dark {
        z-index: 30;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /*Carousel with source partners*/
    .owl-carousel .owl-wrapper-outer {
        padding-left: 40px;
    }

    /*Homepage image fixes*/
    .onepicture .hover {
        background-color: rgba(250, 250, 250, 0.7);
        max-width: 50%;
        min-height: 120px;
    }

    .onepicture .text-title {
        color: #242424;
        font-size: 28px;
    }

    .col-md-6 {
        padding-left: 65px !important;
        padding-right: 65px !important;
    }

    .axis {
        padding-left: 65px !important;
        padding-right: 65px !important;
        /* margin-top: -30px;*/
    }
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 26, 2016, 4:40:21 PM
    Author     : boriseto
    */
/*
    Created on : May 17, 2016, 3:09:40 PM
    Author     : boriseto
    */
/* Dasha
A few notes:
1. The Worldcrunch logo + slogan are placeholders, for a general idea of where they will go when a new logo is designed.
2. Breaking News section is a full-width marquee going from right to left.
3. https://static.litemegabyte.com/fonts used: Archivo Narrow Bold and the Roboto family, header/navigation color: #242424, subtitle text: #7b7b7b
4. New orange: #40AB4D
5. Hover over: For article title text, hovering over will change the font color from #242424 to #40AB4D
    a. Hovering over articles below the "Prince" element will change the font color of the title the    same way, but also reverse the country color from #40AB4D to #242424
6. The Special Series bar is a slider, featuring one series at a time.
    a. When hovering over an article in the Special Series, the background darkens and the font color changes to #40AB4D
7. Our sources and partners logos are also a full-width marquee going from right to left.
8. Social media icons - are a placeholder as well, I've looked at the templates Glyphicon options but I don't know to what extend they can be altered in the template.
9. As we've talked earlier - we'd still like the navigation bar to be fixed when scrolling up, but not showing the worldcrunch logo/slogan.*/
/*Need to define the naming for the colors
if we should go by general color name or general color purpose (wc-orange vs wc-maincolor)*/

@media (max-width: 992px) {
    #header {
        height: 50px !important;
    }

    .homepage-featured {
        display: inline-block;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding-top: 50%;

    }

    .homepage-featured-source {
        cursor: default;
        position: absolute;
        top: 20%;
        text-align: center;
        width: 100%;
        font-size: 20px;
        z-index: 40;
        color: #f8f8f8;
        font-weight: 300;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif !important;
        text-shadow: rgba(0, 0, 0, 0.16) 1px 1px 1px;
        right: 0%;
    }

    .homepage-featured-text {
        cursor: default;
        position: absolute;
        top: 45%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        z-index: 40;
        color: #FFFFFF;
        font-family: 'Archivo Narrow', sans-serif;
        right: 0%;
    }

    .li-subscribe {
        padding: 26px 5px 10px 5px !important;
    }

    /*Footer*/
    .owl-carousel .owl-wrapper-outer {
        padding-left: 20px;
    }
}

/*# sourceMappingURL=custom.css.map */

.singleimage {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.marquee p {
    line-height: 0px;
    margin-top: 30px;
}

.marquee p a {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    line-height: 0px;
    margin-top: 30px;
}

.marquee p a:hover {
    color: #40AB4D;
}

p .breakingnews {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #242424;
}

@-moz-document url-prefix() {
    .tab-content {
        margin-top: 2px;
    }
}

.img-description-article a {
    color: #fff;
}

/* Aleksandar.css */

#article-image-desc {
    font-size: 18px !important;
    top: 15px !important;
}

.article-content {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

#article {
    border-radius: 0px;
}

#article hr {
    margin-bottom: 0px;
}

.avatar-div img {
    width: 100px !important;
    height: 100px;
    padding: 3px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    border: 3px solid rgb(228, 88, 45);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    margin: 25px auto;
}

.left_social_net {
    padding-left: 15px !important;
    padding-right: 1px !important;
    padding-top: 10px;
}

.left_social_net a {
    font-size: 18px;
    font-family: 'Roboto';
    font-style: italic;
    color: #242424;
    font-weight: 400;

}

.right_social_net {
    padding-right: 15px !important;
}

.social-icons-footer {
    float: right;
}

.comentPoss h4 {
    padding-top: 8%;
    margin-bottom: 0px;
}

.createdBy {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    color: #242424;
}

.imgLeftCol {
    padding-right: 0px;

}

.cruncherRow {
    margin-left: 13px;
}

.comentPoss h4 {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 700;
}

.comentPoss p {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
}

#article-source-img img {
    width: 217px;
    height: 40px;
}

.orange {
    font-size: 20px;
    font-family: 'Roboto';
    color: #40AB4D;
    margin-top: 10px;
    font-weight: 400;
}

#orange {

    color: #40AB4D;

}

.allrights {
    font-size: 16px;
    font-family: 'Roboto';
    padding: 20px;
    font-weight: 400;
    padding: 52px;
}

.source_partner {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
}

#article-source {
    padding-top: 80px;
}

.social-icons-footer a {
    color: #333333;
}

.subscribe {
    font-size: 17px;
    font-family: 'Roboto';
    color: #242424;
    padding-right: 20px;
    float: left;
    font-weight: 400;

    min-width: 500px;
}

.newsletter {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
}

.newssletterRowLeft {
    padding-left: 10px !important;
    padding-right: 0px !important;
}

.leftSubs {
    padding-left: 15px !important;
}

.rightSubs {
    padding: 0px !important;
}

.btn-red {
    background-color: #40AB4D;
    border-radius: 1px;
    width: 90px;
    height: 30px;
    padding: 0px;
    margin-bottom: 2.3%;
    font-family: 'Roboto';

}

.signup {
    font-size: 15px;
    font-family: 'Roboto';
}

#related-stories .owl-wrapper-outer {
    padding-left: 7px;
}

#related-stories h4 {
    font-size: 20px;
    font-family: 'Roboto';
    color: #242424;
}

.sourcepartners {
    font-size: 30px;
    font-family: 'Archivo Narrow';
    color: #242424;
    font-weight: 600;
}

.social-icons-article {
    color: #242424;
    float: right;
}

.social-icons-article a i {
    color: #242424;
    font-size: 30px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.social_row a {
    color: #242424 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.allrights {
    color: #242424;

    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
}

.subscribe {
    font-family: 'Roboto', sans-serif !important;
    font-size: 17px;
    color: #242424;
}

.related h5 {
    font-size: 24px;
    text-align: left;
    padding: 0px;
    top: 18px;
    position: relative;
}

.related p {
    color: #242424;
    font-size: 40px;
    line-height: 40px !important;
    text-align: left;
    color: #242424;
    padding-right: 40px;
    font-family: 'Archivo Narrow', sans-serif !important;
    line-height: 30px;
}

.related p a {
    color: #242424 !important;
    font-family: 'Archivo Narrow', sans-serif !important;
    font-weight: 700;

}

.article-text em {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
}

.article-text strong {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}

.article-text {
    color: #242424 !important;
}

.article-subtitle h1 {
    color: #242424;
}

/* Mobile */

@media (max-width: 768px) {

    #article {
        margin-top: -30px !important;
    }

    .article-text p {
        margin: 0px 0px 15px !important;
    }

    .article-text p em.img-description-article {
        top: -10px !important;
    }

    .article-author .date {
        font-size: 18px;
    }

    h1 {
        margin: 0px;
    }

    .artice-title h1 {
        margin: 10px 0 20px 0 !important;
    }

    .italic {
        clear: both;
        float: left;
        padding-left: 15px;
        width: 200px;
    }

    .top-4-mobile {
        margin-top: 15px;
    }

    .top-5-mobile {
        margin-top: 85px;
    }

    .top-3-mobile {
        margin-top: 35px;
    }

    .img-description-article {
        top: 10px !important;
    }

    .article-text p {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        text-align: justify;
    }

    .article-text p a {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
        text-align: justify;
        color: #40AB4D;
    }

    .artice-title h1 {
        color: #242424;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }

    .article-subtitle h1 {
        font-family: 'Roboto', sans-serif !important;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        text-align: justify;
        line-height: 25px;
    }

    .related p {
        color: #242424;
        font-size: 25px;
        line-height: 25px !important;
        text-align: left;
        color: #242424;
        padding-right: 40px;
        font-family: 'Archivo Narrow', sans-serif !important;
        line-height: 30px;
    }

    .related h5 {
        font-size: 20px;
    }

    #related-stories h4 {
        padding-top: 40px;
        font-size: 20px;
    }

    .fa-facebook {
        color: #3B5998 !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .fa-twitter {
        color: #00ACEE !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .fa-linkedin {
        color: #0E76A8 !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .fa-reddit-alien {
        color: #C6C6C6 !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .fa-google-plus {
        color: #DD4B39 !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .fa-envelope {
        color: #40AB4D !important;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    /* Article Css */
    .article-content {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

blockquote {
    text-align: justify;
    border: none;
    margin: 1.5em 10px;
    padding: 0.5em 25px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    letter-spacing: 0px;
}

blockquote:before {
    font-family: "Georgia", serif;
    font-style: italic;
    color: #ccc;
    content: open-quote;
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    color: #40AB4D;
}

blockquote:after {
    font-family: "Georgia", serif;
    font-style: italic;
    color: #ccc;
    content: close-quote;
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -68px;
    color: #40AB4D;
}

blockquote p {
    display: inline;
}

#article-image-description {
    background: rgba(0, 0, 0, 0.75);
    font-size: 0.9em;
}

#article-background {
    padding-top: 54px;
}

.artice-title h1 {
    margin: 22px 0 45px 0;
}

.padd_ios_com {
    padding: 40px;
}

.subscr {
    padding-left: 41px;
    padding-top: 45px;
}

.social_row {
    margin-top: 65px;
}

#article-author {
    margin-top: 0px;
}

.comments {
    float: right;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #40AB4D;
    margin-top: 70px;
    cursor: pointer;
    cursor: hand;
}

.comme_pos {
    position: absolute;
    bottom: 0;
    right: 25px;
    min-width: 22%;
}

.stories {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #242424;
    padding-right: 20px;
    float: right;
    line-height: 30px;
}

.countr {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #40AB4D;
    font-style: italic;
}

.btn-search {
    float: right;
    background-color: #40AB4D;
    color: #f8f8f8;
    border-radius: 1px;
    width: 90px;
    height: 30px;
    padding: 0px;
    margin-bottom: 1.3%;
}

.hr_count {
    margin-bottom: 20px !important;
    margin-top: -20px !important;
    background-color: #242424;
}

#related-stories .owl-wrapper-outer {
    padding-left: 34px;
}

#disqus_thread {

}

.input-count {
    height: 30px;
    border-radius: 1px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    margin-right: 10px;
    float: left;
    min-width: 200px;
}

.form-control {
    border: 1px solid #ddd;

}

.form-position {
    position: relative;
    display: inline-block;
    float: right;
}

.input-email {
    height: 31px;
    margin-right: 12px;
    border-radius: 1px;
    width: 30%;
    font-family: 'Roboto';
    font-weight: 300;
}

/* End Aleksandar Css */

/* Mobile */
@media (max-width: 768px) {

    .logo {
        text-align: center;
    }

    #logo {
        float: none;
    }

    .homepage-featured-text {
        cursor: default;
        position: absolute;
        bottom: 0;
        /* padding-left: 10%; */
        /* padding-right: 10%; */
        text-align: center;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        z-index: 40;
        color: #FFFFFF;
        font-family: 'Archivo Narrow', sans-serif;
        right: 0%;
        line-height: 32px;
    }

    p#slogan {
        color: #fff;
        /* line-height: 50px; */
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        float: none;
    }

    .navbar-brand {
        max-width: 190px;
        padding: 0;
    }

    #header {
        background-color: #16263D;
        border: none;
        height: 52px !important;
    }

    #topNav button.btn-mobile i {
        color: #fff;
    }

    section div.row > div {
        margin-bottom: -10px;
    }

    .banner1-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        font-size: 18px;
        padding: 20px;
    }

    .hover-mobile {
        font-size: 24px;
        position: absolute;
        top: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        bottom: -10px;
        left: 0;
        right: 0px;
        width: 100%;
        height: auto;
        line-height: 30px;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }

    .hover-mobile:hover {
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .hover-white {
        position: absolute;
        top: auto;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
        bottom: -33px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        overflow: hidden;
        transition: background .25s ease-in-out;
        -moz-transition: background .25s ease-in-out;
        -webkit-transition: background .25s ease-in-out;
    }

    .hover-white .text-title {
        font-size: 35px;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: right;
        line-height: 30px;
        padding-right: 8px;
    }

    #footer h4 {
        line-height: 20px;
    }

    #subscribe-btn {
        max-width: 100%;
    }

    .footer-rights {
        text-align: center;
    }

    .menuitem-mobile {
        font-family: 'Archivo Narrow', sans-serif !important;
        text-align: left;
        text-transform: uppercase;
        color: #242424;
        font-size: 14px;
        font-weight: 700;

        line-height: 14px;
    }

    .menuitem-mobile a {
        display: block;
        color: #242424;
        font-size: 14px;
        font-weight: 700;
        margin-left: 24px;
        line-height: 13px;
    }

    .border-bottom p {
        padding: 0;
        line-height: 0px;
        height: 32px;
        border-bottom: 1px solid #e0e0e0;
        vertical-align: text-top;
    }

    .menuitems li {
        float: left;
        list-style: none;
        text-transform: uppercase;
        margin-right: 5px;
        margin-left: 17px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .nav-main-collapse {
        float: right;
    }

    .menuitems {
        margin-left: -50px;
        min-height: 40px;
        margin-top: 9px;
        font-family: 'Archivo Narrow', sans-serif !important;
        text-align: left;
        text-transform: uppercase;
        color: #242424;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        background-color: #fff;

    }

    .menuitems .search {
        padding-bottom: 4px;
        margin-top: -7px;
        line-height: 48px;
        margin-right: 4px;
    }

    .menuitems li a {
        color: #242424;
        background-color: #fff;
        padding-top: 18px;
        padding-bottom: 20px;
        padding-left: 0px;
        /* padding-right: 5px;*/

    }

    .navbar-collapse {
        background-color: #fff !important;
        min-height: 90px;
    }

    a.subscribe-item {
        background-color: #40AB4D !important;
        color: #fff !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .col-xs-6 {
        padding: 0 !important;
        margin-left: 15px;
        margin-right: -40px;
    }

    .col-xs-12 {
        padding: 0 !important;
    }

    .col-xs-12 h3 {
        line-height: 25px;
    }

    .col-xs-12 h5, h3, .shorttext {
        padding-left: 35px;
        padding-right: 35px;

    }

    .col-xs-12 .shorttext {
        line-height: 22px;
        margin-top: -22px;
    }

    .footer-mobile li {
        list-style: none;
        margin-top: 0px;
        padding: 2px;
    }

    .footer-mobile li a {
        color: #fff;
    }

    .mobile-bg-blue {
        background-color: #16263D;
        position: relative;
        top: -30px;
        height: 145px;
    }

    .footer-mobile-rights {
        color: #fff;
        padding: 10px;
        padding-left: 40px;
        font-size: 14px;
        position: relative;
        top: -20px;
    }

    .social-icons-footer {
        background-color: #40AB4D;
        position: relative;
        top: -60px;
        height: 50px;
        line-height: 50px;
    }

    .social-icons-footer i {
        color: #fff !important;
        padding: 5px;

    }

    .subscribe {
        min-width: 100%;
        margin-left: 0px;
    }

    .navbar-collapse {
        border: none;
    }

    .border-line {
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        top: -25px;
    }

    .top-3 {
        margin-top: 15px;
    }

    .left-menu-mobile {
        margin-left: 5px;
    }

    .homepage-featured {
        padding-top: 65%;
    }

    .singleimage {
        width: 130%;
    }

    /* Article Page */
    .social-icons-article {
        float: none !important;
        text-align: center;
    }

    .article-author a {
        font-size: 18px;
        padding-left: 15px;
    }

    .article-author .date {
        text-align: center;
        float: left;
        padding: 15px;

    }

    .input-count {
        height: 30px !important;
        margin-left: 0 !important;
        border-radius: 1px !important;
        width: 100% !important;
    }

    .btn-search {
        float: none !important;
    }

    .left_social_net {
        margin-bottom: 40px;
        padding-left: 0px !important;
        padding-right: 0px !Important;
        padding-top: 10px;
        text-align: center;
    }

    .allrights {
        text-align: center;
        padding-left: 50px !important;
    }

    .subscribe {
        float: none !important;

    }

    .input-email {
        height: 30px !important;

        border-radius: 1px !important;
        width: 90% !important;
    }

    .img-description-article {
        height: 68px !important;
        line-height: 16px;
        padding-top: 12px;
        font-size: 14px;
    }

    #related-stories h4 {

        padding-left: 14px;
    }

    #article-background {
        padding-top: 0px !important;
    }

    .related p a {
        padding-right: 20px !important;
    }

    .stories {
        float: left !important;
    }

    .form-position {
        float: left !important;
    }

    #article-image-desc {
        font-size: 14px !important;
        top: 30px;
        font-style: italic;

    }

    /* Category */
    .category-title {
        font-size: 30px !important;
    }

    /* End Category */
}

/* End Mobile */

/* Contact */
.contact-orange-bg {
    background-color: #40AB4D;
}

.contact-find-us {
    color: #40AB4D;
    font-size: 30px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
}

.contact-social-icons {
    padding-left: 20px;
}

.contact-social-icons a {
    color: #242424;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-title {
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    font-family: 'Archivo Narrow' !important;
    font-weight: 700;
}

.contact-submit {
    margin-top: 54px;
    border-radius: 0;
    height: 40px;
}

.form-control {
    border-radius: 0 !important;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #242424;
}

/* Contact end */

/* Search */
option {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #242424;
}

.search-button {
    float: right;
    border-radius: 0px !important;
}

.search-title {
    font-family: 'Archivo Narrow' !important;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
    bottom: -30px;

}

.search-left {
    margin-left: 50px !important;
    padding-right: 65px !important;
}

/* Search end */

/* Categories */

.category-title {
    text-transform: uppercase;
    color: #40AB4D;
    padding-left: 50px;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
}

.category-orange-bg {
    background-color: #40AB4D;
    height: 100px;
    bottom: 20px;
    position: relative;
}

/* Special */
.item-box {
    margin-top: -40px;
}

.item-box {
    max-height: 350px;
}

.item-box .item-hover .inner {
    top: 175px !important;
    font-size: 25px;
}

.item-box figure {
}

.special-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 65px;
    right: 65px;
    top: 200px;
    bottom: 0;
    z-index: 1;
}

.special-text {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 255px;
    bottom: 0;
    z-index: 40;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Roboto' !important;
    font-weight: 300;
    text-align: left !important;
}

.special-text a {
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Roboto' !important;
    font-weight: 300;
}

.special-text a:hover {
    color: #40AB4D;
}

/** SELECT COLOR **/

::selection {
    background: #40AB4D !important;
}

::-moz-selection {
    background: #40AB4D !important; /* Firefox */
}

/* END OF SELECT COLOR */